<!DOCTYPE html>
<html lang="en">

<head>
    <title>Triomino's pizza™</title>
    <link rel="icon" href="images/Logo/logo_droit.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

</head>

<body>
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class=" container-fluid">
            <a class="navbar-brand" href="#">
                <a class="" href="#"><img src="/images/Logo/logo_triominos.png" style="height: 60px;"></a>
                <a href="#" style="float: right;"><i class="bi-cart-fill" style="font-size: 38px;"></i></i></a>
            </a>
        </div>
    </nav>
    <br><br><br>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/images/Carousel/four_petit.jpg" class="d-block w-100" alt="1">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Un savoir-faire de Légende</h5>
                    <p>Nos pizzas sont préparés par des pizzayollos au talent indéniable.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/images/Carousel/deguster_petit.jpg" class="d-block w-100" alt="2">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Un moment unique</h5>
                    <p>Les meilleures pizzas Triomino's™ sont celles qu'on partage entre amis.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/images/Carousel/champ_petit.jpg" class="d-block w-100" alt="3">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Une culture italienne comme à l'époque</h5>
                    <p>Le blé utilisé dans nos pâtes à pizza provient directement de producteurs siciliens partenaires.
                    </p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="about" style="text-align: center;">
        <h1>A propos</h1>
        <p>Triomino’s: La plus grande entreprise de livraison de pizzas et de plats à emporter au monde. </p>
        <p>Nous avons 3 succursales dans le monde entier. Rien qu'en France, nous cuisons des milliards de pizzas
            chaque année. Toutes nos pizzas sont fraîchement préparées, juste après que vous ayez passé votre commande.
            Il
            n'y a pas d'ingrédients préparés à l'avance, sauf la sauce secrète du chef. La pâte que nous utilisons pour
            le fond est pure à 17% : elle ne
            contient aucun ingrédient d'origine animale et est exempte d'odeurs, de couleurs et d'arômes artificiels.
            Les
            légumes sont aussi plus frais que frais (pas tous) ! Et nous livrons votre pizza en 5 secondes en moyenne.
            Dans toutes les
            saveurs et variations auxquelles vous pouvez penser, y compris les options végétariennes, végétaliennes et
            sans
            gluten. Bon appétit !</p>
    </div>

    <div class="container-fluid p-5 text-center pizza">
        <h1>Nos Pizzas</h1>
        <p>Profitez des meilleurs produits</p>
    </div>

    <% for(var i=0; i<pizza.length; i++){ %>
        <% if(i%3==0){ %>
            <div class="card-group col justify-content-center">
                <% } %>
                    <div class="card">
                        <img class="card-img-top" src="/images/Pizza/<%= pizza[i].image; %>.jpeg" alt="Card image"
                            style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">
                                <%= pizza[i].nom; %>
                            </h4>
                            <div class="card-text"> DESCRIPTION </div>
                            <a href="#" class="btn btn-danger">Retirer du panier</a>
                            <a href="#" class="btn btn-success">Ajouter au panier</a>
                        </div>
                    </div>

                    <% if((i+1)%3==0){ %>
            </div>
            <% } %>
                <% } %>

                    <div class="container-fluid p-5 text-center entree">
                        <h1>Nos Entrées</h1>
                        <p>Profitez des meilleures salades et autres entrées</p>
                    </div>

                    <% for(var i=0; i<entree.length; i++){ %>
                        <% if(i%3==0){ %>
                            <div class="card-group col justify-content-center">
                                <% } %>
                                    <div class="card">
                                        <img class="card-img-top" src="/images/Entrees/<%= entree[i].image; %>.jpeg" alt="Card image"
                                            style="width:100%">
                                        <div class="card-body">
                                            <h4 class="card-title">
                                                <%= entree[i].nom; %>
                                            </h4>
                                            <a href="#" class="btn btn-danger">Retirer du panier</a>
                                            <a href="#" class="btn btn-success">Ajouter au panier</a>
                                        </div>
                                    </div>
                
                                    <% if((i+1)%3==0){ %>
                            </div>
                            <% } %>
                                <% } %>


</body>

</html>